

.content{
    display: flex;
    flex-direction: column;
    margin: 0 auto !important;
    margin-top: 10em !important;
    align-items: center;

}


.content-title{
    display: flex;
	flex-direction: row;
    max-width: 1600px !important;
    width: 100%;
	position: relative;
    margin-bottom: 3em;
	padding-left: 50px;
	padding-right: 50px;
}

.content-title p{
    font-weight: 600;
    color: var(--darkblue);
}

.content-upper{
    display: grid;
	grid-template-columns: 50% 50%;
    /* grid-column-gap: 1em; */
    max-width: 1600px !important;
    width: 100%;
	height: 400px;
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
    /* margin: 4em auto !important;
    margin-top: 10em !important; */
}

.content-upper-left{
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* background-color: red; */
}

.content-upper-right{
    /* background-color: blue; */
}

.image_video{
	width: 100%;
	height: 380px;
}

.content-upper-left-top{
    font-weight: 600;
    font-size: 28px;
    color: var(--darkblue);
}

.content-upper-left-central{
    font-size: 18px;
    color: var(--darkblue);
}

.blue{
    color: var(--blue);
}


.left-bottom-container{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    justify-content: flex-start;
	gap: 5em;
}

.left-bottom-container-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 600;
}


.content-central{
	display: flex;
	margin-top: 4em;
	width: 100%;
	background-color: var(--gray);
	background-image: url('../assets/SVG/lines_2.svg');
	background-size: 100% auto;
	justify-content: center;
	align-items: center;
	padding-bottom: 6em;
}

.content-central-container{
	display: grid;
	grid-template-columns: 33% 66%;
    max-width: 1600px !important;
    width: 88%;
	position: relative;
	margin-top: 7em;
	padding-left: 50px;
	padding-right: 50px;
}


.content-central-left{
	display: flex;
	flex-direction: column;
}

.content-central-right{
	display: flex;
	flex-direction: column;
	gap: 130px;
}

.content-central-right-item{
	display: grid;
	grid-row-gap: 2em;
}

.right-item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 4em;

}

.right-item-content{
	display: flex;
	flex-direction: column;
}

.right-column{
	grid-template-columns: 25% 75%;
}

.left-column{
	grid-template-columns: 75% 25%;
}

.left-item{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 1em;

}

.left-item-right{
	display: flex;
	flex-direction: column;
}


.content-bottom{
	background-color: var(--red);
	width: 100%;
	display: grid;
	grid-template-columns: 40% 60%;
	height: 140px;
}

.content-bottom-left{
	overflow: hidden;
}

.content-bottom-right{
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-content: center;
}

.content-bottom-right__left{
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-bottom-right__left p{
	color: var(--white);
}

.content-bottom-right__right{
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-bottom-right__right a{
	color: var(--white);
	font-weight: 600;
	padding-bottom: 5px;
	border-bottom: 1px solid var(--white);
}


.content-bottom-lower{
    display: flex;
	flex-direction: column;
	max-width: 1600px !important;
    width: 100%;
	position: relative;
	margin-bottom: 3em;
	margin-top: 2em;
	padding-left: 50px;
	padding-right: 50px;
	
}

.content-bottom-lower__upper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1em;
	margin-bottom: 1em;
}

.bottom-lower__upper-item{
	display: flex;
	flex-direction: row;
}

.left-arrow{
	transform: rotateY(-180deg);
	margin: 0 50px 0 50px;
}

.content-bottom-lower__lower{
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-column-gap: 30px;
	align-items: center;
	margin-top: 1.5em;
}

.bottom-lower__lower-item img{
	filter: invert(100%);
}





.header {
    border-bottom: 1px solid #000;
    background-color: var(--white);
}

.footer {
    margin-left: 0;
    padding-bottom: 50px;
}

.footer_left {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}

.footer_left-logo {
    display: flex;
}

.footer_left-text {
    margin-top: auto;
}



@media (max-width: 1600px) {

	.content-central-right{
		gap: 75px;
	}


	.content-bottom-lower__lower{
		width: 100% !important;

	}
	.bottom-lower__lower-item img{
		width: 100%;
	}


    .footer {
        padding: 30px 50px 50px 30px;
    }
}

@media (max-width: 1350px) {

	.content-central-container{
		margin-top: 4.5em;
	}

	.content-central-right{
		gap: 75px;
	}

	.content-bottom-lower__lower{
		width: 100% !important;

	}
	.bottom-lower__lower-item img{
		width: 100%;
	}


    .footer {
        flex-direction: column;
    }

    .content_left-item {
        width: 400px;
    }

    .footer_about {
        margin: 20px 0 0 0;
    }

    .footer_directions_list, .footer_about_list {
        grid-template-columns: 50% 50%;
    }

    .footer_directions {
        margin: 0;
    }

    .footer_social_list {
        flex-direction: row;
        justify-content: center;
    }

    .footer_social-item+.footer_social-item {
        margin: 0 0px 0 30px;
    }

    .footer_left {
        margin: 0 0 30px 0;
    }

    .footer_left-logo {
        margin-bottom: 20px;
    }

    .footer_social {
        margin: 20px 0 0 0;
    }
}

@media (max-width: 850px) {

	.content-bottom-lower__lower{
		width: 100% !important;

	}
	.bottom-lower__lower-item img{
		width: 100%;
	}
	.item_value{
		font-size: 28px;
	}

	.item_name{
		font-size: 18px;
	}

	.content-upper-left-central{
		font-size: 11px;
	}

    .content_left-item {
        width: 200px;
    }
}