.footer {
    margin-left: 0;
    padding-bottom: 50px;
}

.footer_left {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}

.footer_left-logo {
    display: flex;
}

.footer_left-text {
    margin-top: auto;
}

.header {
    border-bottom: 1px solid #000;
    background-color: var(--white);
}

.content {
    padding: 150px 30px 0 30px;
    max-width: 1600px;
    margin: 0 auto;
}

.content_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 40px 0;
    justify-content: center;
}

.content h1 {
    color: var(--darkblue);
    font-weight: 600;
}

.specialists_slider-item {
    margin: 0 50px 20px 0;
}

.specialist_bottom {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.specialist_text {
    display: flex;
    flex-direction: column;
}

.specialists_slider-img {
    border-bottom: 1px solid black;
}

.custom-btn {
    background-color: var(--white);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: none;
    transition: all 0.4s ease-in-out;
    background-image: url(../assets/SVG/arrow_off.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.custom-btn:hover {
    background-color: var(--red);
    background-image: url('../assets/SVG/arrow_on.svg');
}

@media (max-width: 1600px) {
    .footer {
        padding: 30px 50px 50px 30px;
    }
}

@media (max-width: 1350px) {
    .footer {
        flex-direction: column;
    }

    .footer_about {
        margin: 20px 0 0 0;
    }

    .footer_directions_list, .footer_about_list {
        grid-template-columns: 50% 50%;
    }

    .footer_directions {
        margin: 0;
    }

    .footer_social_list {
        flex-direction: row;
        justify-content: center;
    }

    .footer_social-item+.footer_social-item {
        margin: 0 0px 0 30px;
    }

    .footer_left {
        margin: 0 0 30px 0;
    }

    .footer_left-logo {
        margin-bottom: 20px;
    }

    .footer_social {
        margin: 20px 0 0 0;
    }
}