.header {
    border-bottom: 1px solid #000;
    background-color: var(--white);
}

/* footer */
.footer {
    margin-left: 0;
    padding-bottom: 50px;
}

.footer_left {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}

.footer_left-logo {
    display: flex;
}

.footer_left-text {
    margin-top: auto;
}

@media (max-width: 1600px) {
    .footer {
        padding: 30px 50px 50px 30px;
    }
}

@media (max-width: 1350px) {
    .footer {
        flex-direction: column;
    }

    .footer_about {
        margin: 20px 0 0 0;
    }

    .footer_directions_list, .footer_about_list {
        grid-template-columns: 50% 50%;
    }

    .footer_directions {
        margin: 0;
    }

    .footer_social_list {
        flex-direction: row;
        justify-content: center;
    }

    .footer_social-item+.footer_social-item {
        margin: 0 0px 0 30px;
    }

    .footer_left {
        margin: 0 0 30px 0;
    }

    .footer_left-logo {
        margin-bottom: 20px;
    }

    .footer_social {
        margin: 20px 0 0 0;
    }
}

/* footer */

/* navigation */
.nav {
    margin-bottom: 50px;
}

.nav_list {
    display: flex;
    padding: 15px 0 15px 50px;
    border-bottom: 1px solid #000;
    align-items: center;
}

.nav_list-item+.nav_list-item {
    margin-left: 30px;
}

.nav_list-link {
    transition: all 0.3s ease-in-out;
}

.nav_list-link:hover {
    color: var(--blue);
}

/* navigation */

.content {
    padding-top: 100px;
    overflow: hidden;
}

/* .conent_top_outer {
    position: relative;
}

.conent_top_outer::after {
    content: "";
    position: absolute;
    background-color: var(--blue);
    width: 20%;
    height: 421px;
    top: 99px;
    right: 0;
    z-index: -2;
} */

.content_top {
    display: flex;
    position: relative;
    padding-bottom: 50px;
}

.content_top_inner {
    display: flex;
    justify-content: space-between;
}

.content_top_inner-left {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content_top_inner-bottom {
    margin-top: auto;
}

.content_top-rigth_inner {
    padding: 110px 0px 0px 155px;
    height: 100%;
    width: 684px;
    position: relative;
}

.content_top-rigth_inner::after {
    content: "";
    position: absolute;
    background-color: var(--blue);
    width: 100%;
    height: 421px;
    top: 0;
    right: -681px;
    z-index: -2;
}

.content_top-rigth-img {
    height: 421px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.content_top-rigth-button {
    position: absolute;
    top: -40px;
    right: 125px;
    background-color: var(--red);
    color: var(--white);
    border-radius: 50%;
    padding: 65px 25px;
    z-index: 2;
}

.content_top-rigth_inner-text {
    max-width: 335px;
}

.content_container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

.content_blue {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--darkblue);
    padding: 80px 0;
    color: var(--white);
    overflow: hidden;
}

.content-info-list {
    display: flex;
    justify-content: space-between;
}

.content-info-list-item {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
    z-index: 2;
}

.certificate-count, .lecture-count, .task-count {
    margin-right: 15px;
    font-weight: 600;
    font-size: 60px;
}

.certificate-text, .lecture-text, .task-text {
    font-size: 28px;
}

.lines-back {
    position: absolute;
    left: 50px;
    top: -200px;
}

.content_gray {
    background-color: var(--gray);
    padding: 70px 0px 70px 0;
    display: flex;
}

.content_gray .content_container {
    display: flex;
    position: relative;
}

.content_gray-left {
    max-width: 25%;
    margin-right: 100px;
}

.content_gray-left-text {
    margin-top: 30px;
}

.slider {
    padding-right: 150px;
    user-select: initial !important;
    min-width: 0;
}

.slick-arrow {
    background-color: var(--white);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: none;
    transition: all 0.4s ease-in-out;
    background-image: url('../assets/SVG/arrow_off.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.slick-arrow {
    position: absolute;
    right: 25px;
    z-index: 3;
}

.slick-arrow:hover {
    background-color: var(--blue);
    background-image: url('../assets/SVG/arrow_on.svg');
}

.custom__slider-btn:hover {
    background-color: var(--red);
    background-image: url('../assets/SVG/arrow_on.svg');
}

.slick-next {
    bottom: 0;
}

.slick-prev {
    bottom: 70px;
    transform: rotate(180deg);
}

.content_white {
    padding: 100px 0;
}

.content_white .content_container {
    display: flex;
    flex-direction: column;
}

.cards_list {
    display: flex;
    flex-wrap: wrap;
}

.cards_list-item {
    background-color: var(--gray);
    padding: 25px 35px;
    position: relative;
    display: flex !important;
    flex-direction: column;
    width: 450px;
    height: 300px;
    margin: 15px 20px 0 0;
    overflow: hidden;
    clip-path: polygon(0 0, 85% 0%, 105% 16%, 101% 0%, 100% 100%, 0 100%);
    transition: all 0.5s ease-in-out;
}

.cards_list-btn {
    background-color: var(--white);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: none;
    transition: all 0.4s ease-in-out;
    background-image: url('../assets/SVG/arrow_off.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.cards_list-btn:hover {
    background-color: var(--red);
    background-image: url('../assets/SVG/arrow_on.svg');
}

.cards_list-content {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-items: flex-end;
}

.cards_list-content-left-item {
    display: flex;
}

.cards_list-content-left-item+.cards_list-content-left-item {
    margin-top: 5px;
}

.cards_list-content-left-item-count {
    margin-right: 5px;
}

.cards_list-content-left {
    display: flex;
    flex-direction: column;
}

.more_cards {
    padding: 15px;
    margin: 30px auto 0 auto;
}

@media (max-width: 1330px) {
    .content_top-rigth_inner {
        padding: 110px 0px 0px 105px;
    }
}