.content {
    padding-top: 100px;
    overflow: hidden;
}

/* navigation */
.nav {
    margin-bottom: 50px;
}

.nav_list {
    display: flex;
    padding: 15px 0 5px 50px;
    border-bottom: 1px solid #000;
    align-items: center;
    flex-wrap: wrap;
}

.nav_list-item {
    margin: 0 15px 10px 0;
}

.nav_list-link {
    transition: all 0.3s ease-in-out;
}

.nav_list-link.selected {
    color: var(--blue);
}

.nav_list-link:hover {
    color: var(--blue);
}

/* navigation */

/* footer */
.footer {
    margin-left: 0;
    padding-bottom: 50px;
}

.footer_left {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}

.footer_left-logo {
    display: flex;
}

.footer_left-text {
    margin-top: auto;
}

@media (max-width: 1600px) {
    .footer {
        padding: 30px 50px 50px 30px;
    }
}

@media (max-width: 1350px) {
    .footer {
        flex-direction: column;
    }

    .footer_about {
        margin: 20px 0 0 0;
    }

    .footer_directions_list, .footer_about_list {
        grid-template-columns: 50% 50%;
    }

    .footer_directions {
        margin: 0;
    }

    .footer_social_list {
        flex-direction: row;
        justify-content: center;
    }

    .footer_social-item+.footer_social-item {
        margin: 0 0px 0 30px;
    }

    .footer_left {
        margin: 0 0 30px 0;
    }

    .footer_left-logo {
        margin-bottom: 20px;
    }

    .footer_social {
        margin: 20px 0 0 0;
    }
}

/* footer */
.header {
    border-bottom: 1px solid #000;
    background-color: var(--white);
}

.content_container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

.content_item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    margin-top: 50px;
    border-bottom: 1px solid #000;
    margin-bottom: 50px;
}

.content_item:last-child {
    border-bottom: none;
}

.column-1 {
    margin-right: 70px;
}

.column-2_list-item {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
}

.column-3-input {
    margin-bottom: 20px;
}

.input {
    border-radius: 10px;
    border: 2px solid #ecebea;
    outline: none;
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding: 0 0.3em;
}

.radio-buttons {
    display: flex;
}

.radio {
    display: none;
}

.radio+label {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--gray);
    text-align: center;
    position: relative;
    border-radius: 6px;
}

.radio+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c43c2;
    -webkit-clip-path: polygon(23% 60%, 49% 90%, 89% 15%, 47% 67%);
    clip-path: polygon(23% 60%, 49% 90%, 89% 15%, 47% 67%);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio:checked+label:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio:checked+label {
    border-color: #1c43c2;
    ;
}

.label-female span, .label-male span {
    margin-left: 35px;
}

.label-male {
    margin-left: 100px;
}

.btn-profile {
    margin: 35px 0 30px;
    padding: 15px 60px 15px 60px;
    background-color: var(--blue);
    color: var(--white);
}

.btn-profile:hover {
    background-color: transparent;
    color: var(--black);
}

.upper-logo-wrapper {
    display: flex;
    padding: 35px 15px 35px 15px;
    border: 0.5px solid var(--gray);
    min-width: 270px;
    border-radius: 10px;
    outline: none;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.upper-logo-wrapper.adaptive {
    display: none;
}

.upper-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-logo img {
    width: 80px;
    height: 80px;
}

.upper-logo button {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    border-bottom: 1px dashed black;
}

.content_item.notifications {
    grid-template-columns: 1fr 4fr;
}

.notifications_content-item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    border-bottom: 3px solid var(--gray);
    padding-bottom: 30px;
}

.notifications_content-item+.notifications_content-item {
    margin-top: 30px;
}

.notifications_content-item:last-child {
    border-bottom: none;
}

.notifications_content-item .column-4 {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
    align-items: flex-end;
    justify-content: center;
}

.notifications_content-item .column-3 {
    display: flex;
    align-items: center;
}

.column-3_list {
    grid-gap: 40px;
    display: grid;
}

.column-3_list-item {
    font-size: 18px;
}

.small {
    margin-top: 5px;
    font-size: 14px;
}

.check_custom {
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;
}

.check_custom:checked {
    background: var(--darkblue);
}

.check_custom::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.check_custom:checked::before {
    left: 20px;
    background: var(--blue);
}

.btn-profile.disable {
    background-color: var(--gray);
    border-color: var(--gray);
    color: var(--blue);
    cursor: default;
}

.vk {
    background-color: #4a66c4;
    padding: 8px 4px 8px 4px;
    border-radius: 6px;
}

.facebook {
    background-color: #4a66c4;
    padding: 6px 10px 6px 10px;
    border-radius: 6px;
}

.social_networks-item {
    height: 52px;
    display: flex;
    align-items: center;
}

.social_networks-item span {
    margin-left: 10px;
}

.social_networks-item+.social_networks-item {
    margin-top: 30px;
}

.btn-bind {
    padding: 15px 60px 15px 60px;
    background-color: var(--blue);
    color: var(--white);
}

.btn-bind+.btn-bind {
    margin-top: 30px;
}

.content_item.socials .column-3 {
    margin-right: 15px;
}

.content_item.password .column-2 {
    margin-right: 15px;
}

.column-2 {
    margin-right: 15px;
}

@media (max-width:1024px) {
    .content_item .column-1 {
        grid-column-start: 1;
        grid-column-end: 5;
        margin: 0 0 30px 0;
    }

    .content_item .column-3 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .notifications_content {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .notifications_content-item .column-3 {
        grid-column-start: initial;
        grid-column-end: initial;
    }

    .column-1 br {
        display: none;
    }

    .content_item.password .column-3 {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .content_item.socials .column-3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media (max-width:768px) {
    .notifications_content-item {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .column-4 {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .content_item .column-3 {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .notifications_content-item .column-4 {
        grid-column-start: initial;
        grid-column-end: initial;
    }

    .notifications_content-item .column-3 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .upper-logo-wrapper {
        display: none;
    }

    .upper-logo-wrapper.adaptive {
        display: flex;
        margin: 0 0 30px 0;
        min-width: auto;
    }

    .content_item.socials .column-4 {
        grid-column-start: initial;
        grid-column-end: initial;
    }

    .nav_list {
        padding: 15px 0 5px 20px;
    }
}

@media (max-width: 500px) {
    .radio-buttons {
        flex-direction: column;
    }

    .label-male {
        margin: 15px 0 0 0;
    }
}